*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Muli';
    font-size: 1.3em;
    margin: auto;
    height: 100vh;
    width: 80%;
    text-align: center;
    color: #263054;
}

.content button{
    height: 2.5em;
    margin: 0 auto;
    margin-top: 1.3rem;
    width: fit-content;
    padding: 15px;
    font-family: 'Muli';
    font-size: 24px;
    color: #263054;
    border: 2px solid #263054;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 10px 10px 0px -1px rgba(38,48,84,1);
    transition: all 0.3s;
}

.content button:hover{
    box-shadow: 10px 10px 0px -12px rgba(38,48,84,1);
    background-color: #263054;
    color: white;
    cursor: pointer;
}



